<a href="https://colab.research.google.com/github/T-Schwab/QM2/blob/main/Dams_and_Cities.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt

In [9]:
df = pd.read_csv("GDW_barriers_v1_0_FORME.csv")

# Print the first few rows of the DataFrame
print(df.head())

   GDW_ID         RES_NAME             DAM_NAME        ALT_NAME  \
0       1    Lake Winnipeg               Jenpeg      Split Lake
1       2          Ontario             Iroquois             NaN
2       3           Baikal              Irkutsk             NaN
3       4    Lake Victoria           Owen Falls             NaN
4       5  Southern Indian  Missi Falls Control  Notigi Control

           DAM_TYPE LAKE_CTRL         RIVER ALT_RIVER MAIN_BASIN  \
0  Lake Control Dam       Yes        Nelson       NaN        NaN
1  Lake Control Dam       Yes  St. Lawrence       NaN        NaN
2  Lake Control Dam       Yes        Angara       NaN        NaN
3  Lake Control Dam       Yes    White Nile       NaN       Nile
4  Lake Control Dam       Yes     Churchill       Rat        NaN

       SUB_BASIN  ...    LAT_RIV LONG_DAM LAT_DAM ORIG_SRC POLY_SRC GRAND_ID  \
0            NaN  ...  53.696359      NaN     NaN    GRanD   CanVec      709
1            NaN  ...  44.480557      NaN     NaN    GRanD     SWBD     1485
2            NaN  ...  52.234393      NaN     NaN    GRanD     SWBD     5058
3  Victoria Nile  ...   0.430999      NaN     NaN    GRanD     SWBD     4492
4            NaN  ...  57.361625      NaN     NaN    GRanD    Other      702

   HYRIV_ID  INSTREAM HYLAK_ID     HYBAS_L12
0  70125969  Instream        4  7.120921e+09
1  70444883  Instream        7  7.121021e+09
2  30588837  Instream       11  3.120639e+09
3  10980811  Instream       16  1.122079e+09
4  70037207  Instream       37  7.120896e+09

[5 rows x 71 columns]

<ipython-input-9-c310356b57e8>:1: DtypeWarning: Columns (1,3,5,7,8,9,11,15,21,44,45,46,47,48,49,50,51,52,53,54,55,56,57) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("GDW_barriers_v1_0_FORME.csv")

In [11]:
# Filter for only years between 2010 and 2022
df_year = df[(df['YEAR_DAM'] >= 2010) & (df['YEAR_DAM'] <= 2022)]

# Verify the filtered data
print(df_year)

       GDW_ID      RES_NAME DAM_NAME ALT_NAME          DAM_TYPE LAKE_CTRL  \
1854     1855           NaN    Mahan      NaN               Dam       NaN
4119     4120           NaN    Banja      NaN               Dam       NaN
4149     4150      Miyamako  Tsugaru      NaN               Dam       NaN
4523     4524  Satpara Lake  Satpara      NaN  Lake Control Dam       Yes
4758     4759           NaN    Yutan      NaN               Dam       NaN
...       ...           ...      ...      ...               ...       ...
41126   41127           NaN      NaN      NaN               Dam       NaN
41128   41129           NaN      NaN      NaN               Dam       NaN
41131   41132           NaN      NaN      NaN               Dam       NaN
41133   41134           NaN      NaN      NaN               Dam       NaN
41134   41135           NaN      NaN      NaN               Dam       NaN

        RIVER ALT_RIVER MAIN_BASIN SUB_BASIN  ...    LAT_RIV LONG_DAM LAT_DAM  \
1854    Mahan       NaN        NaN       NaN  ...  24.223666      NaN     NaN
4119   Devoll       NaN      Seman       NaN  ...  40.961734      NaN     NaN
4149    Iwaki       NaN      Iwaki       NaN  ...  40.538341      NaN     NaN
4523   Satpar       NaN      Indus       NaN  ...  35.243529      NaN     NaN
4758    Laixi       NaN    Yangtze       NaN  ...  29.552689      NaN     NaN
...       ...       ...        ...       ...  ...        ...      ...     ...
41126     NaN       NaN        NaN       NaN  ... -31.956739      NaN     NaN
41128     NaN       NaN        NaN       NaN  ... -31.555849      NaN     NaN
41131     NaN       NaN        NaN       NaN  ... -29.676872      NaN     NaN
41133     NaN       NaN        NaN       NaN  ... -44.022757      NaN     NaN
41134     NaN       NaN        NaN       NaN  ... -42.309093      NaN     NaN

      ORIG_SRC     POLY_SRC GRAND_ID  HYRIV_ID   INSTREAM HYLAK_ID  \
1854     GRanD      JRC-GSW     4928  41016210   Instream  1427699
4119     GRanD       McGill     6871  20592787   Instream   172524
4149     GRanD           UY     7305  40335349   Instream   172721
4523     GRanD      JRC-GSW     7072  40505928   Instream   174493
4758     GRanD  JRC-GSW-mod     7271  40704979   Instream   176313
...        ...          ...      ...       ...        ...      ...
41126  JRC-GSW      JRC-GSW        0  61483590   Instream  1434073
41128  JRC-GSW      JRC-GSW        0  61478975   Instream  1434075
41131  JRC-GSW      JRC-GSW        0  61453122   Instream        0
41133  JRC-GSW      JRC-GSW        0  50826919  Offstream        0
41134  JRC-GSW      JRC-GSW        0  50817862   Instream  1434078

          HYBAS_L12
1854   4.120946e+09
4119   2.121218e+09
4149   4.121304e+09
4523   4.120604e+09
4758   4.120781e+09
...             ...
41126  6.121319e+09
41128  6.121318e+09
41131  6.120846e+09
41133  5.120622e+09
41134  5.120620e+09

[1053 rows x 71 columns]

In [12]:
# List of African countries
african_countries = [
    "Algeria", "Angola", "Benin", "Botswana", "Burkina Faso", "Burundi",
    "Cameroon", "Central African Republic", "Republic of the Congo",
    "Democratic Republic of the Congo", "Egypt",
    "Eritrea", "Ethiopia", "Gabon", "Ghana", "Guinea", "Kenya", "Lesotho", "Liberia", "Libya", "Madagascar", "Malawi", "Mali",
    "Mauritania", "Morocco", "Mozambique", "Namibia", "Niger", "Nigeria", "Rwanda",
   "Senegal", "Sierra Leone", "Somalia", "South Africa",
   "Sudan", "Togo", "Tunisia", "Uganda", "Zambia", "Zimbabwe", "Swaziland"
]

# Filter the DataFrame to only include African countries
df_africa = df_year[df_year['COUNTRY'].isin(african_countries)]

# Display the filtered DataFrame
print(df_africa)

       GDW_ID RES_NAME          DAM_NAME         ALT_NAME DAM_TYPE LAKE_CTRL  \
6860     6861      NaN  Ouldjet Mellegue  Ouldjt Mellegue      Dam       NaN
6871     6872      NaN       Dikgatlhong              NaN      Dam       NaN
6894     6895      NaN         Samendeni              NaN      Dam       NaN
6895     6896      NaN              Soum              NaN      Dam       NaN
6903     6904      NaN          Imboulou              NaN      Dam       NaN
...       ...      ...               ...              ...      ...       ...
41032   41033      NaN               NaN              NaN      Dam       NaN
41033   41034      NaN               NaN              NaN      Dam       NaN
41034   41035      NaN               NaN              NaN      Dam       NaN
41049   41050      NaN               NaN              NaN      Dam       NaN
41054   41055      NaN               NaN              NaN      Dam       NaN

          RIVER ALT_RIVER   MAIN_BASIN SUB_BASIN  ...    LAT_RIV LONG_DAM  \
6860   Mellegue       NaN          NaN       NaN  ...  35.977500      NaN
6871     Shashe      Tati      Limpopo       NaN  ... -21.564694      NaN
6894    Mouhoun       NaN  Black Volta       NaN  ...  11.388263      NaN
6895     Wranko       NaN        Volta       NaN  ...  12.597743      NaN
6903     Lefini       NaN        Congo       NaN  ...  -2.935546      NaN
...         ...       ...          ...       ...  ...        ...      ...
41032       NaN       NaN          NaN       NaN  ... -29.743810      NaN
41033       NaN       NaN          NaN       NaN  ... -29.728842      NaN
41034       NaN       NaN          NaN       NaN  ... -29.651161      NaN
41049       NaN       NaN          NaN       NaN  ... -29.334574      NaN
41054       NaN       NaN          NaN       NaN  ... -33.434810      NaN

      LAT_DAM ORIG_SRC     POLY_SRC GRAND_ID  HYRIV_ID   INSTREAM HYLAK_ID  \
6860      NaN    GRanD       McGill     6878  10004335   Instream  1427721
6871      NaN    GRanD      JRC-GSW     6891  11415033   Instream  1427732
6894      NaN    GRanD       McGill     6917  10576911   Instream  1427755
6895      NaN    GRanD      JRC-GSW     6918  10536204   Instream  1427756
6903      NaN    GRanD  JRC-GSW-mod     6933  11078190   Instream  1427764
...       ...      ...          ...      ...       ...        ...      ...
41032     NaN  JRC-GSW      JRC-GSW        0  11502289   Instream  1434044
41033     NaN  JRC-GSW      JRC-GSW        0  11502107  Offstream  1434045
41034     NaN  JRC-GSW      JRC-GSW        0  11501708   Instream  1434046
41049     NaN  JRC-GSW      JRC-GSW        0  11499360   Instream  1434048
41054     NaN  JRC-GSW      JRC-GSW        0  11524736   Instream  1434049

          HYBAS_L12
6860   1.121662e+09
6871   1.121539e+09
6894   1.121935e+09
6895   1.121917e+09
6903   1.121209e+09
...             ...
41032  1.122290e+09
41033  1.122290e+09
41034  1.122290e+09
41049  1.122289e+09
41054  1.122299e+09

[74 rows x 71 columns]

In [14]:
# Save the dataframe to a CSV file
df_africa.to_csv("filtered_dams_africa.csv", index=False)

print("Data saved to 'filtered_dams_africa.csv'")

Data saved to 'filtered_dams_africa.csv'